.titleText {
    color: red;
}

.poster {
	width: 100%;

.breadcrumb {
    margin-bottom: 15px;
}

#rating span {
  cursor: pointer;
  font-size: 25px;
  padding: 0 10px;
  color: black;
  opacity: .5;
  transition: all 150ms;
  display: inline-block;
  transform: rotateX(45deg);
  transform-origin: center bottom;
}

#rating span.hover {
  color: #ff0;
  opacity: 1;
  transform: rotateX(0deg);
  text-shadow: 0 0 30px #ffc;
  }}
